@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
*
{
    margin: 0px;
    padding: 0px;
}
html
{
    scroll-behavior: smooth;
    max-width: 100vw;
}


.reg {
    width: 88px;
    float: right;
    text-decoration: none;
    margin: 0px 1px;
    background-color: rgba(29, 109, 207, 0.688);
    color: white;
    padding: 4px 0px;
    border: 2px solid rgb(255, 253, 253);
    border-radius: 10px;
    font-size: 17px;
    margin-right: 18px;
    cursor: pointer;
}
.reg a
{
    text-decoration: none;
    color: aliceblue;
    display: block;
}
.reg:hover
{
    background-color: rgb(59, 103, 145);
}
.sec hr
{
    border: 1px solid rgb(8, 24, 38);
}
#home
{
    background-image: url('assets/4110-01.png');
    /* background-image: url('CODEFURYlogo-01.png'); */
    background-repeat: no-repeat;
    background-size: 50%;
    display: flex;
    margin: auto;
    /* background-attachment: fixed; */
    /* background-size: 100%; */
    height: 100vh;
    max-width: 100%;
    
}
#about
{
    height: 111vh;
    background-color: transparent;
    color: aliceblue;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 27px;
}
#about .readme .prize ul li
{
    list-style-type: georgian;
}
#about .heading
{
    text-align: center;
    font-size: 3.3rem;
    text-decoration: underline;
    text-decoration-color: rgba(75, 43, 12, 0.688);
    text-decoration-thickness: 6px ;
}
.readme
{
    overflow: none;
    text-overflow: ellipsis;
}
/* .readme:hover
{
    overflow:visible;
} */
.mainlogo
{
    max-width: 100vw;
}
.mainlogo img
{
    max-width: 150%;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 30%; */
    padding-top: 33%;
}
.mainreg
{
    width: 30vw;
    text-decoration: none;
    background-color: rgba(75, 43, 12, 0.688);
    color: white;
    border: 3px solid rgb(255, 253, 253);
    border-radius: 10px;
    font-size: 20px;
    padding: 1% 0% 1% 0%;
    margin-left: 70%;
    margin-right: auto;
    cursor: pointer;
    margin-top: 25px;
}
.mainreg a
{
    text-decoration: none;
    color: aliceblue;
    display: block;
    /* width: 100%; */
}
.mainreg:hover
{
    background-color: rgb(59, 103, 145);
}
#home
{
    margin: auto;
    justify-content: center;
}
.foot
{
    background-color: rgb(75, 43, 12);
    /* line-height: 20vh; */
    height: 44vh;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}
.foot .map
{
    padding-top: 5px;
    float: right;
    margin: 1%;
}
.foot .ieeelogo
{
    float: left;
    width: 13%;
    height: auto;
    margin: 4.5%;
    padding-left: 30px;
}
.foot p
{
    padding-top: 75px;
}
.foot p a
{
    color: aliceblue;
}
#faq h1
{
    text-align: center;
    text-decoration: underline;
    color: aliceblue;
    font-size: 3.3rem;
    text-decoration-color: rgba(75, 43, 12, 0.688);
    text-decoration-thickness: 6px ;
}
.accordian
{
    width: 80vw;
    min-width: 350px;
    /* background-color: aqua; */
    margin: auto;
}
.question
{
    display: flex;
    font-size: 1.4rem;
    background-color: rgba(75, 43, 12, 0.968);
    padding: 1%;
    border-radius: 10px;
    color: aliceblue;
}
.q1 a
{
    position: absolute;
    float: right;
    padding-left: 77.5vw;
    text-decoration: none;
    text-align: right;
    color: aliceblue;
    
}
#answer
{
    display: none;
    color: aliceblue;
    background-color: rgba(75, 43, 12, 0.688);
    /* background-color: rgba(105, 146, 212, 0.678); */
    padding: 1.5%;
    font-size: 1.15rem;
}
#ans1:hover #answer
{
    display: block;
    border-radius: 0px 0px 10px 10px;
}
#ans1:hover .question
{
    border-radius: 10px 10px 0px 0px;
}
.movtop
{
    font-size: 80%;
    position: absolute;
    margin-left: 94.5vw;
    margin-top: 92vh;
    position: fixed;
    border-radius: 95%;
    background-color: rgba(75, 43, 12, 0.982);
    color: aliceblue;
    padding: 8px;
}
.movtop a
{
    text-decoration: none;
    color: aliceblue;
}
.movtop a:hover
{
    color: aqua;
}
#sponsor h1
{
    text-align: center;
    text-decoration: underline;
    color: aliceblue;
    font-size: 3.3rem;
    text-decoration-color: rgba(75, 43, 12, 0.688);
    text-decoration-thickness: 6px ;
}
.grid
{
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    justify-items: center;
    margin: 4%;
}
.galflex
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    flex-wrap: wrap;
}
.item
{
    text-align: center;
    color: aliceblue;
    margin: 5%;
}
.item6 h3
{
    margin-top: 12%;
    margin-bottom: 12%;
    font-size: 1.5rem;
}
.item1 img:hover, .item2 img:hover, .item3 img:hover, .item4 img:hover, .item5 img:hover, .item6 img:hover
{
    transform: scale(1.25);
    transition-duration: 1.2s;
}
#gallery h1
{
    text-align: center;
    text-decoration: underline;
    color: aliceblue;
    font-size: 3.3rem;
    text-decoration-color: rgba(75, 43, 12, 0.688);
    text-decoration-thickness: 6px ;
}
#test h1
{
    text-align: center;
    text-decoration: underline;
    color: aliceblue;
    font-size: 3.3rem;
    text-decoration-color: rgba(75, 43, 12, 0.688);
    text-decoration-thickness: 6px ;
}
.video
{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 2%;
}
::-webkit-scrollbar 
{
    width: 1vw;
}
::-webkit-scrollbar-track 
{
    background-color: rgba(75, 43, 12, 0.688);
}
::-webkit-scrollbar-thumb 
{
    background-color: rgb(75, 43, 12);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover 
{
    background: #1165e3;
}


@media (max-width: 888px)
{
    #home
    {
        background-image: url('assets/4110-01.png');
    /* background-image: url('CODEFURYlogo-01.png'); */
    background-repeat: no-repeat;
    background-size: 100%;
    }
    .midnav ul, .reg
    {
        display: none;
    }
    #about 
    {
        overflow: scroll;
        margin-left: 33px;
        margin-right: 33px;
    }
    #about .heading
    {
        position: relative;
    }
    .grid
    {
        display: grid;
        grid-template-rows: 33% 33% 33% !important;        
    }
    .mainlogo img
    {
        max-width: 100%;
        padding-left: 1%;
        padding-right: 4%;
        padding-top: 180%;
    }
    .mainreg
    {
        width: 80vw;
        max-width: 350px;
        text-decoration: none;
        background-color: rgba(75, 43, 12, 0.688);
        color: white;
        border: 3px solid rgb(255, 253, 253);
        border-radius: 10px;
        font-size: 18px;
        padding: 2% 1% 2% 1% ;
        margin-left: 9%;
        margin-right: 9%;
        cursor: pointer;
        margin-top: 25px;
    }
    .logo
    {
        width: 150%;
        height: auto;
        padding-left: 10.5%;
        align-content: center;
        padding-top: 5.5px;
    }
    .movtop
    {
        font-size: 80%;
        position: absolute;
        margin-left: 65%;
        margin-top: 123%;
        position: fixed !important; 
        border-radius: 95%;
        background-color: rgba(75, 43, 12, 0.989)
        /* color: aliceblue; */
        /* padding: 8px; */
    }
}
