.gal-flex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery-container ul {
    background-color: #a2a2a2;
    box-shadow: rgba(0, 0, 0, 0.75) 0 1px 12px;
    display: inline-block;
    margin: 0;
    padding: 61.3% 0 0 0;
    position: relative;
    width: 50%;

}



.gallery-container ul:before {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 4px;
    color: #fff;
    content: "paused";
    display: block;
    font-size: 20px;
    font-weight: 700;
    right: 0;
    opacity: 0;
    padding: 0.2em 0.4em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    z-index: 2;
}

.gallery-container ul:hover:before {
    opacity: 1;
}

.gallery-container ul img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.gallery-container ul:hover li,
.gallery-container ul:hover img {
    /* 
			NOTE: This property is being considered for removal from the spec 
			@see: http://www.w3.org/TR/css3-animations/#the-animation-play-state-property-
		*/
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
}

.gallery-container li {
    left: 1.5%;
    list-style: none inside;
    overflow: hidden;
    position: absolute;
    top: 1.9%;
    width: 100%;
}

/* - Special styles for the Falling demo - */

.gallery-container ul:last-of-type {
    background-color: transparent;
    box-shadow: none;
    display: inline-block;
    margin: 0;
    position: relative;
}

.gallery-container ul:last-of-type li {
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease;
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: inline-block;
    left: 0;
    margin: 0;
    padding: 5%;
    top: 0;
}

.gallery-container ul:last-of-type li:nth-of-type(1) {
    -webkit-animation-name: fallFour;
    -moz-animation-name: fallFour;
    top: 2%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(1deg);
}

.gallery-container ul:last-of-type li:nth-of-type(2) {
    -webkit-animation-name: fallThree;
    -moz-animation-name: fallThree;
    top: 2%;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
}

.gallery-container ul:last-of-type li:nth-of-type(3) {
    -webkit-animation-name: fallTwo;
    -moz-animation-name: fallTwo;
    top: 2%;
    -webkit-transform: rotate(1.5deg);
    -moz-transform: rotate(1.5deg);
}

.gallery-container ul:last-of-type li:nth-of-type(4) {
    -webkit-animation-name: fallOne;
    -moz-animation-name: fallOne;
    top: 1%;
}

/* - Falling animations -*/

@-webkit-keyframes fallOne {

    0%,
    30% {
        opacity: 1;
        top: 1%;
        -webkit-transform: rotate(0deg);
    }

    35%,
    94% {
        opacity: 0;
        top: 120%;
        -webkit-transform: rotate(-13deg);
    }

    94.0001%,
    96% {
        opacity: 0;
        top: -100%;
        -webkit-transform: rotate(-13deg);
    }

    100% {
        opacity: 1;
        top: 1%;
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes fallTwo {

    0%,
    50% {
        opacity: 1;
        top: 2%;
        -webkit-transform: rotate(1.5deg);
    }

    55%,
    94% {
        opacity: 0;
        top: 120%;
        -webkit-transform: rotate(13deg);
    }

    94.0001%,
    96% {
        opacity: 0;
        top: -100%;
        -webkit-transform: rotate(13deg);
    }

    100% {
        opacity: 1;
        top: 2%;
        -webkit-transform: rotate(1.5deg);
    }
}

@-webkit-keyframes fallThree {

    0%,
    70% {
        opacity: 1;
        top: 2%;
        -webkit-transform: rotate(-1deg);
    }

    75%,
    95% {
        opacity: 0;
        top: 120%;
        -webkit-transform: rotate(-10deg);
    }

    95.0001%,
    96% {
        opacity: 0;
        top: -100%;
        -webkit-transform: rotate(10deg);
    }

    100% {
        opacity: 1;
        top: 2%;
        -webkit-transform: rotate(-1deg);
    }
}

@-webkit-keyframes fallFour {

    0%,
    85% {
        opacity: 1;
        top: 2%;
        -webkit-transform: rotate(1deg);
    }

    95.5% {
        opacity: 0;
        top: 120%;
        -webkit-transform: rotate(-10deg);
    }

    95.5001%,
    96% {
        opacity: 0;
        top: -100%;
        -webkit-transform: rotate(10deg);
    }

    100% {
        opacity: 1;
        top: 2%;
        -webkit-transform: rotate(-1deg);
    }
}

@-moz-keyframes fallOne {

    0%,
    30% {
        opacity: 1;
        top: 1%;
        -moz-transform: rotate(0deg);
    }

    35%,
    94% {
        opacity: 0;
        top: 120%;
        -moz-transform: rotate(-13deg);
    }

    94.0001%,
    96% {
        opacity: 0;
        top: -100%;
        -moz-transform: rotate(-13deg);
    }

    100% {
        opacity: 1;
        top: 1%;
        -moz-transform: rotate(0deg);
    }
}

@-moz-keyframes fallTwo {

    0%,
    65% {
        opacity: 1;
        top: 2%;
        -moz-transform: rotate(1.5deg);
    }

    70%,
    94% {
        opacity: 0;
        top: 120%;
        -moz-transform: rotate(13deg);
    }

    94.0001%,
    96% {
        opacity: 0;
        top: -100%;
        -moz-transform: rotate(13deg);
    }

    100% {
        opacity: 1;
        top: 2%;
        -moz-transform: rotate(1.5deg);
    }
}

@-moz-keyframes fallThree {

    0%,
    91% {
        opacity: 1;
        top: 2%;
        -moz-transform: rotate(-1deg);
    }

    95% {
        opacity: 0;
        top: 120%;
        -moz-transform: rotate(-10deg);
    }

    95.0001%,
    96% {
        opacity: 0;
        top: -100%;
        -moz-transform: rotate(10deg);
    }

    100% {
        opacity: 1;
        top: 2%;
        -moz-transform: rotate(-1deg);
    }
}

@-moz-keyframes fallFour {

    0%,
    85% {
        opacity: 1;
        top: 2%;
        -moz-transform: rotate(-1deg);
    }

    95.5% {
        opacity: 0;
        top: 120%;
        -moz-transform: rotate(-10deg);
    }

    95.5001%,
    96% {
        opacity: 0;
        top: -100%;
        -moz-transform: rotate(10deg);
    }

    100% {
        opacity: 1;
        top: 2%;
        -moz-transform: rotate(-1deg);
    }
}


